/* Add your CSS code below */
.messages a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.messages time {
  font-size: 0.9rem;
}
.message--unread {
  border-left: solid 30px blue;
}
.message__time--old {
  opacity: 0.5;
}
.message__content {
  text-indent: 50px;
}
